// Base

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  margin: 0;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

// Thumb

input[type=range]::-webkit-slider-thumb {
    content: '';
    background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 30"><style type="text/css">  .st0{fill:#F9AE33;}</style><title>  Slider</title><path class="st0" d="M11.6 29.5c6.4 0 11.6-5.2 11.6-11.6s-7.3-13-11.6-17.4C7.2 4.8 0 11.5 0 17.9S5.2 29.5 11.6 29.5z"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 30px;
    cursor: pointer;
    margin-top: -12px;
    outline: none;
    border: none;
    box-shadow: none;
    background-color: transparent;
    fill: $brand-orange;

}

// Track

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: $ui-grey;
  border-radius: 2px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: $light-grey;
}
