.c-attribute {
	display: flex;
	justify-content: space-between;
}

.c-attribute__wrapper {
	display: flex;
    justify-content: center;
    flex-direction: column;
}

.c-attribute__item {
	display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.c-project-title {
	margin-bottom: 0;
}

.c-project-subtitle {
	margin-top: 0;
}