// Margins
// --


// None
.u-margin-none {
    margin: 0;
}

// All
.u-margin-all-sm {
    margin: $unit;
}

.u-margin-all-md {
    margin: $v-space;
}

.u-margin-all-lg {
    margin: $unit*3;
}

.u-margin-all-xlg {
    margin: $v-space*2;
}

.u-margin-all-xxlg {
    margin: $unit*5;
}

// Top
.u-margin-top-sm {
    margin-top: $unit;
}

.u-margin-top-md {
    margin-top: $v-space;
}

.u-margin-top-lg {
    margin-top: $unit*3;
}

.u-margin-top-xlg {
    margin-top: $v-space*2;
}

.u-margin-top-xxlg {
    margin-top: $unit*5;
}

// Bottom
.u-margin-bottom-sm {
    margin-bottom: $unit;
}

.u-margin-bottom-md {
    margin-bottom: $v-space;
}

.u-margin-bottom-lg {
    margin-bottom: $unit*3;
}

.u-margin-bottom-xlg {
    margin-bottom: $v-space*2;
}

.u-margin-bottom-xxlg {
    margin-bottom: $unit*5;
}

// Right
.u-margin-right-sm {
    margin-right: $unit;
}

.u-margin-right-md {
    margin-right: $v-space;
}

.u-margin-right-lg {
    margin-right: $unit*3;
}

.u-margin-right-xlg {
    margin-right: $v-space*2;
}

.u-margin-right-xxlg {
    margin-right: $unit*5;
}

// Left
.u-margin-left-sm {
    margin-left: $unit;
}

.u-margin-left-md {
    margin-left: $v-space;
}

.u-margin-left-lg {
    margin-left: $unit*3;
}

.u-margin-left-xlg {
    margin-left: $v-space*2;
}

.u-margin-left-xxlg {
    margin-left: $unit*5;
}

// Padding
// --

// None
.u-padding-none {
    padding: 0;
}

// All
.u-padding-all-sm {
    padding: $unit;
}

.u-padding-all-md {
    padding: $v-space;
}

.u-padding-all-lg {
    padding: $unit*3;
}

.u-padding-all-xlg {
    padding: $v-space*2;
}

.u-padding-all-xxlg {
    padding: $unit*5;
}

// Sides

.u-padding-sides-sm {
    padding-right: $unit;
    padding-left: $unit;
}

.u-padding-sides-md {
    padding-right: $v-space;
    padding-left: $v-space;
}

.u-padding-sides-lg {
    padding-right: $unit*3;
    padding-left: $unit*3;
}

.u-padding-sides-xlg {
    padding-right: $v-space*2;
    padding-left: $v-space*2;
}

.u-padding-sides-xxlg {
    padding-right: $unit*5;
    padding-left: $unit*5;
}

// Top
.u-padding-top-sm {
    padding-top: $unit;
}

.u-padding-top-md {
    padding-top: $v-space;
}

.u-padding-top-lg {
    padding-top: $unit*3;
}

.u-padding-top-xlg {
    padding-top: $v-space*2;
}

.u-padding-top-xxlg {
    padding-top: $unit*5;
}

// Bottom
.u-padding-bottom-sm {
    padding-bottom: $unit;
}

.u-padding-bottom-md {
    padding-bottom: $v-space;
}

.u-padding-bottom-lg {
    padding-bottom: $unit*3;
}

.u-padding-bottom-xlg {
    padding-bottom: $v-space*2;
}

.u-padding-bottom-xxlg {
    padding-bottom: $unit*5;
}

// Right
.u-padding-right-sm {
    padding-right: $unit;
}

.u-padding-right-md {
    padding-right: $v-space;
}

.u-padding-right-lg {
    padding-right: $unit*3;
}

.u-padding-right-xlg {
    padding-right: $v-space*2;
}

.u-padding-right-xxlg {
    padding-right: $unit*5;
}

// Left
.u-padding-left-sm {
    padding-left: $unit;
}

.u-padding-left-md {
    padding-left: $v-space;
}

.u-padding-left-lg {
    padding-left: $unit*3;
}

.u-padding-left-xlg {
    padding-left: $v-space*2;
}

.u-padding-left-xxlg {
    padding-left: $unit*5;
}
