// Variables
// =====

$unit: 4px;
$v-space: 8px;

$brand-blue: #006CD3;
$dark-blue: #2F4B7D;
$brand-orange: #F9AE33;
$font-color: #444444;
$light-grey: #87888B;
$ui-grey: #CACACA;
$white: #fff;


$font-family: 'Lato';

$font-size: 16px;
$small-font: 12px;
$input-font: 14px;
$medium-font: 20px;
$large-font: 24px;
$xlarge-font: 32px;

$line-height: 24px;
$small-line-height: 20px;
$medium-line-height: 28px;
$large-line-height: 36px;

$tap-size: 44px;
$slow-animation: 0.25s ease-in-out all;

$border: 1px solid $ui-grey;
$border-radius: 2px;


// Global styles
html {
    color: $font-color;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: $white;
    margin: 0;
    padding: $v-space;
}

h1, h2, h3, h5  {
    font-weight: bold;
}

h1 {
    line-height: $large-line-height;
}

h2 {
    line-height: $medium-line-height;
}

h3 {
    text-transform: uppercase;
    line-height: $line-height;
}

h3, h4, p, li, label {
    line-height: $line-height;
}

h5 {
    font-size: $font-size;
    line-height: $small-line-height;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
    color: $font-color;
}

label {
    font-size: 14px;
    color: $light-grey;
}

input {
    font-family: $font-family;
}

input[type="text"], textarea {
    padding: $unit*4 $unit*3; // 12px
    border: $border;
    border-radius: $border-radius;
    width: 93%;
    font-size: 16px;
    font-family: $font-family;
}

// Fonts
@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/LatoLatin-Regular.eot');
    src: url('./assets/fonts/LatoLatin-Regular.eot#iefix') format('eot'),
         url('./assets/fonts/LatoLatin-Regular.woff') format('woff'),
         url('./assets/fonts/LatoLatin-Regular.woff2') format('woff2'),
         url('./assets/fonts/LatoLatin-Regular.ttf') format('truetype'),url(),
         url('./assets/fonts/LatoLatin-Regular.svg#lato') format("svg");
    font-weight: normal;
    font-style: normal;
}


.delete-later {
    width: 100%;
    height: 150px;
    background-color: $ui-grey;
}
