.t-project-setup__add {
    background-image: url('../../assets/icons/diy.svg');
    height: 200px;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center
}
